    ```scss
    ---
    ---

    @import "{{ site.theme }}";
    ```

.profile-header {
    text-align: center; 
    margin-bottom: 20px; 
    position: relative; /* Make the container relative */
}

.cover-image {
    max-width: 600px; /* Adjust this if the image is still too wide */
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute; /* Make the profile image absolutely positioned */
    bottom: -40px;  /* Position it partially below the bottom edge */
    left: 20px;   /* Position it slightly in from the left */
    border: 3px solid white; /* Add a white border for definition */
}
